In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Read the file 
csv_file = pd.read_csv('House Pricing.csv')

# Create a DataFrame object for later use 
housing = pd.DataFrame(csv_file)

In [14]:
housing.head()  # Viewing first 5 lines
housing.head(3) # Viewing first 3 lines

housing.tail()  # Viewing last 5 lines
housing.tail(3) # Viewing last 3 lines

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [16]:
housing.shape # Viewing the shape of the DataFrame

(545, 13)

Consider the following code:

```python
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'Gender': ['Female', 'Male', 'Male']}
df = pd.DataFrame(data)
```

`.info()` provides a concise summary of a DataFrame, including the number of non-null values and data types of each column. It also provides information on the total memory usage of the DataFrame. The output of .info() is useful for quickly getting an overview of the data and identifying potential data quality issues.

```kotlin
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype 
---  ------  --------------  ----- 
 0   Name    3 non-null      object
 1   Age     3 non-null      int64 
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
```

`.describe()`, on the other hand, provides summary statistics for each numeric column in a DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartile values. By default, .describe() only includes numeric columns, but it can be configured to include other data types as well.

```shell
             Age
count   3.000000
mean   30.000000
std     5.000000
min    25.000000
25%    27.500000
50%    30.000000
75%    32.500000
max    35.000000
```

In [ ]:
housing.info() # Viewing the information of the DataFrame
housing.describe() # Viewing the description of the DataFrame